/**
 * Site header
 */
.site-header {
  border-top: 5px solid $grey-color-dark;
  border-bottom: 1px solid $grey-color-light;
  min-height: $spacing-unit * 5;
  background: url("/assets/images/header.jpg");
  background-size: cover;
  background-position: right;
  // Positioning context for the mobile navigation icon
  position: relative;
}

.site-title {
  @include relative-font-size(4);
  font-family: 'Dancing Script', cursive;
  font-weight: 300;
  line-height: $base-line-height * $base-font-size * 2.25;
  letter-spacing: -1px;
  margin-bottom: 0;
  margin-top: $spacing-unit;
  float: left;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.77);
  color: $background-color;

  &,
  &:visited {
    color: $background-color;
  }

  @include media-query($on-palm) {
    @include relative-font-size(3.5);
  }
}

.site-nav {
  font-family: 'Noto Serif', serif;
  float: right;
  line-height: $base-line-height * $base-font-size * 2.25;
  margin-top: $spacing-unit;

  .nav-trigger {
      display: none;
  }

  .menu-icon {
    display: none;
  }

  .page-link {
    color: $text-color;
    line-height: $base-line-height;

    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  @include media-query($on-palm) {
    position: absolute;
    top: 9px;
    right: $spacing-unit / 2;
    background-color: $background-color;
    border: 1px solid $grey-color-light;
    border-radius: 5px;
    text-align: right;

    label[for="nav-trigger"] {
      display: block;
      float: right;
      width: 36px;
      height: 36px;
      z-index: 2;
      cursor: pointer;
    }

    .menu-icon {
      display: block;
      float: right;
      width: 36px;
      height: 26px;
      line-height: 0;
      padding-top: 10px;
      text-align: center;

      > svg {
        fill: $grey-color-dark;
      }
    }

    input ~ .trigger {
      clear: both;
      display: none;
    }

    input:checked ~ .trigger {
      display: block;
      padding-bottom: 5px;
    }

    .page-link {
      display: block;
      padding: 5px 10px;

      &:not(:last-child) {
        margin-right: 0;
      }
      margin-left: 20px;
    }
  }
}



/**
 * Site footer
 */
.site-footer {
  border-top: 1px solid $grey-color-light;
  padding: $spacing-unit 0;
}

.footer-heading {
  @include relative-font-size(1.125);
  margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

.footer-col-wrapper {
  @include relative-font-size(0.9375);
  color: $grey-color;
  margin-left: -$spacing-unit / 2;
  @extend %clearfix;
}

.footer-col {
  float: left;
  margin-bottom: $spacing-unit / 2;
  padding-left: $spacing-unit / 2;
}

.footer-col-1 {
  width: -webkit-calc(35% - (#{$spacing-unit} / 2));
  width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
  width: -webkit-calc(20% - (#{$spacing-unit} / 2));
  width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
  width: -webkit-calc(45% - (#{$spacing-unit} / 2));
  width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
  .footer-col-1,
  .footer-col-2 {
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width:         calc(50% - (#{$spacing-unit} / 2));
  }

  .footer-col-3 {
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}

@include media-query($on-palm) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}



/**
 * Page content
 */
.page-content {
  padding: $spacing-unit 0;
  flex: 1;
}

.page-heading {
  @include relative-font-size(2);
}

.post-list-heading {
  @include relative-font-size(1.75);
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
  }
}

.post-meta {
  font-size: $small-font-size;
  font-family: 'Noto Serif', serif;
  color: $grey-color;
}

.post-link {
  display: block;
  @include relative-font-size(3);
  font-family: 'Markazi Text', serif;
}

.post-link-podcast {
  @include relative-font-size(2);
  margin-right: 10px;
}


/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit;
}

.post-title {
  @include relative-font-size(2.625);
  font-family: 'Markazi Text', serif;
  // font-family: 'Noto Serif', serif;
  // font-family: 'Bitter', serif;
  // font-family: 'Pacifico', cursive;
  // font-family: 'Dancing Script', cursive;
  // font-family: 'Alegreya', serif;
  // font-family: 'Satisfy', cursive;
  // font-family: 'Courgette', cursive;
  // font-family: 'Cookie', cursive;
  // font-family: 'Neuton', serif;
  // font-family: 'Yesteryear', cursive;
  letter-spacing: -1px;
  line-height: 1;

  @include media-query($on-laptop) {
    @include relative-font-size(2.25);
  }
}

.post-content {
  // font-family: 'Markazi Text', serif;
  font-family: 'Noto Serif', serif;
  // font-family: 'Bitter', serif;
  // font-family: 'Pacifico', cursive;
  // font-family: 'Dancing Script', cursive;
  // font-family: 'Alegreya', serif;
  // font-family: 'Satisfy', cursive;
  // font-family: 'Courgette', cursive;
  // font-family: 'Cookie', cursive;
  // font-family: 'Neuton', serif;
  // font-family: 'Yesteryear', cursive;
  margin-bottom: $spacing-unit;

  h2 {
    @include relative-font-size(2);

    @include media-query($on-laptop) {
      @include relative-font-size(1.75);
    }
  }

  h3 {
    @include relative-font-size(1.625);

    @include media-query($on-laptop) {
      @include relative-font-size(1.375);
    }
  }

  h4 {
    @include relative-font-size(1.25);

    @include media-query($on-laptop) {
      @include relative-font-size(1.125);
    }
  }
}

.post-audio-player {
    margin: 0px 0 25px;
    height: 30px;
    width: 100%;
}

@mixin button($bgcolor, $color) {
  background-color: $bgcolor;
  color: $color;
  border-radius: 15px;
  padding: 5px 10px;
  font-size: 14px;
  font-weight: bold;
  font-family: sans-serif;
}


.button-bar {
  padding: $spacing-unit/2 0 0 0;
  flex: 1;
  &__subscribe {
    text-transform: uppercase;
    color: $grey-color;
    font-family: sans-serif;
  }
  &__button-container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin: 10px 0;
    @include media-query($on-laptop) {
      flex-direction: column;
    }
  }
  &__subscribe-buttons {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      margin: 0 10px 0 0;
      @include media-query($on-palm) {
        margin: 5px 0;
      }
    }
    @include media-query($on-palm) {
      flex-direction: column;
    }
  }
  &__rss-button {
    a {
      @include button(orange, white);
    }
  }
  &__itunes-button {
    display: none;
    a {
      @include button(#b93ddf, white);
    }
  }
  &__overcast-button {
    display: none;
    a {
      @include button(#fc7e10, white);
    }
  }
  &__patreon {
    @include media-query($on-palm) {
      margin: 5px 0;
    }
    a {
      @include button(#e85b46, white);
    }
  }
}