<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <section class="button-bar">
      <div class="wrapper">
        <div class="button-bar__subscribe">Subscribe</div>

        <div class="button-bar__button-container">
          <ul class="button-bar__subscribe-buttons">
            <li class="button-bar__itunes-button">
              <a href="https://pcr.apple.com/id1459642623">Apple Podcasts</a>
            </li>
            <li class="button-bar__overcast-button">
              <a href="https://overcast.fm/itunes1459642623">Overcast</a>
            </li>
            <li class="button-bar__rss-button">
              <a href="https://southernmeditation.com/feed/podcast">RSS</a>
            </li>
            <li>
              Apple podcasts subscription link coming soon..
            </li>
          </ul>
          <div class="button-bar__patreon">
            <a href="https://www.patreon.com/bePatron?u=8203968">
              Donate at Patreon
            </a>
          </div>
        </div>
      </div>
    </section>

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

  </body>

</html>
